<%- include('../template/header'); -%>

    <body>

        <head>
            <%- include('../template/topbar'); -%>

                <div class="navbar bit-integrator-nav" id="navbar">
                    <div class="container flex flex-between">
                        <div class="logo flex">
                            <a class="flex" href=""><img src="/Assets/images/bit_integrator_nav_logo.svg"
                                    alt="file not found"></a>
                        </div>
                        <div class="bit-integrator-links links flex" id="bit-integrator-links">
                            <a href="javascript:void(0)" class="closebtn" onclick="bitIntegratorCloseNav()"><img
                                    src="/Assets/images/cancel.svg" alt="file not found"></a>
                            <a href="all-integrations">Integrations</a>

                            <div class="nav-btn">
                                <a href="https://bitapps.pro/register">Signup</a>
                                <a href="https://bitapps.pro/login">Login</a>

                            </div>
                        </div>
                        <div class="responsive-menu" onclick="resBitIntegratorMenuActive()">
                            <i class="fas fa-bars" style="font-size:30px;"></i>
                        </div>
                    </div>

                </div>
        </head>

        <div class="bit-integrator mt-6">
            <section class="showcase">
                <div class="container grid grid-fr-1 text-center">
                    <div class="showcase-text">
                        <h1>Connect Your Business Apps</h1>
                        <p>It integrates popular SaaS/Cloud Apps at Business
                            Processes level and Data level</p>
                    </div>
                    <div class="showcase-image">
                        <img src="/assets/images/integrator-intro.svg" alt="file not found">
                    </div>

                </div>
            </section>
            <section class="integration-list text-center">
                <div class="container">
                    <div class="integration-list-text text-center">
                        <h2>Our Popular Integration</h2>
                    </div>
                    <div class="search-bar flex flex-center mt-1">
                        <input type="text" placeholder="Search your integration" id="searchBar">
                    </div>
                    <div id="addIntegration">

                    </div>
                    <a class="mt-4" href="all-integrations"><button type="button" class="btn btn-primary">See all
                            integration</button></a>

                </div>
            </section>
            <section class="glance">
                <div class="container">
                    <div class="card  text-center">
                        <h3>Bit Integrator at A Glance</h3>
                        <div class="glance-items grid grid-fr-4 mt-3">
                            <% Object.keys(glance_item_integrator).map(item=> { %>
                                <div class="item">
                                    <div class="item-img flex flex-center br-full">
                                        <img src=<%=glance_item_integrator[item].img_url%>
                                        alt="file not found">
                                    </div>
                                    <div class="item-heading mt-1">
                                        <%=glance_item_integrator[item].title%>
                                    </div>
                                    <div class="item-desc">
                                        <p>
                                            <%=glance_item_integrator[item].desc%>
                                        </p>

                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </section>


            <section class="support mt-10">
                <div class="container grid grid-fr-1">
                    <div class="card mt-5 text-center">
                        <div class="card-item flex flex-center">
                            <div class="live-chat">
                                <img src="/assets/images/chat.svg" alt="file not found">
                                <div class="content">
                                    <h2>24/7 Live chat support

                                    </h2>
                                    <p> Ask any questions anytime.
                                        We're ready to take on any WordPress
                                        question</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="/assets/images/support.svg" alt="file not found">
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <button type="button" class="btn scroll-btn" id='scroll-btn' onclick="gotoTop()">
                <span class="image"><img src="/assets/images/up-arrow.svg" alt="file not found"></span>
            </button>

            <%- include('../template/integrator-footer'); -%>


        </div>
        <script>
            const allIntegrations = JSON.parse('<%- JSON.stringify(allIntegrations) %>');
            const allPlans = JSON.parse('<%- JSON.stringify(allPlans) %>');
            const searchBar = document.getElementById('searchBar')

            searchBar.addEventListener("keyup", (e) => {
                const searchString = e.target.value
                const filteredCharacters = allIntegrations.filter(character => {
                    return (
                        character.type.includes(searchString)
                    )
                })
                showView(filteredCharacters)
            })
            let addIntegration = document.getElementById('addIntegration')
            const showView = (data) => {
                const htmlString = data.map(item => {
                    return `
    <a href="integration-details/${item.id}">
        <div class="integration-item">
            <div class="item item-left">
                <div class="image">
                    <img src="${item.photo}" alt="file not found">
                </div>
                <div class="title">
                    ${item.type.substring(0, item.type.indexOf('-'))}
                </div>
            </div>

            <div class="price">
                <span>
                    ${(() => {
                            let price = '';
                            for (const plan of allPlans) {
                                if (item.id === plan.integration_id) {
                                    price = plan.price
                                    return "$" + price
                                }
                            }
                        })()}
             
                </span>
                <span>       ${(() => {
                            let pricingDuration = ''
                            for (const plan of allPlans) {
                                if (item.id === plan.integration_id) {
                                    pricingDuration = plan.pricing_duration
                                    return "/" + pricingDuration
                                }
                            }
                        })()}
                </span>
            </div>
            <div class="item item-right">
                <div class="image">
                    <img src="${item.photo2}" alt="file not found">
                </div>
                <div class="title">
                    ${item.type.substring(item.type.indexOf('-') + 1, item.type.length)
                        }
                </div>
            </div>
        </div>
    </a>`
                }).join('');
                addIntegration.innerHTML = htmlString;
            }
            let showItems = []
            for (let i = 0; i <= 2; i++) {
                showItems.push(allIntegrations[i])
            }
            showView(showItems)



        </script>
        <script src="/Assets/js/stickyNav.js"></script>
        <%- include('../template/script'); -%>

    </body>